<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <ul>
          <li><a href="/home">Home</a></li>
          <li class="pure-menu-selected">
          <li><a href="/other">Other People</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/register">Login/Register</a></li>
      </ul>
    </div>
  </head>
  <body><center>
    <form class="pure-form">
      <fieldset>
          <legend>Login Here</legend>

          <input id="username" type="text" placeholder="Username" required>
          <input id="password" type="password" placeholder="Password" required>

          <label for="remember">
              <input id="remember" type="checkbox"> Remember me
          </label>
          <button type="submit" class="pure-button pure-button-primary">Sign in</button>
      </fieldset>
      </form>
      <br>
      <br>
      <h1>Sign Up Here</h1>
      <form class="pure-form pure-form-aligned">
        <fieldset>
        <div class="pure-control-group">
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Username">
        </div>

        <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password">
        </div>

        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" placeholder="Email Address">
        </div>


        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input id="cb" type="checkbox"> I am officially awesome.
            </label>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
    </form>
  </body>
</center>
</html>
